/* Stylesheet voor eindopdracht Webprogrammeren
	Mart Busger op Vollenbroek
	S2174634
	Rijksuniversiteit Groningen
*/

html {
	background: url("../afbeeldingen/bg.jpg") no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

body {
	font-family: sans-serif;
}

h1 { 
	font-size: 50px;
	text-align: center;
}

h2 { 
	text-align: center;
}

.logo img {
	display: block;
	width: 70%;
	border: none;
	padding: 0;
	height: 50%;
	margin-left: auto;
	margin-right: auto;
}

.sectie {
	width: 70%;
	height: 90%;
	margin: 1em auto;
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.7);
	border: 1px solid;
	border-color: rgba(255,255,255,0.9);
}

.infosectie {
	width: 70%;
	height: 90%;
	margin: 1em auto;
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.7);
	border: 1px solid;
	border-color: rgba(255,255,255,0.9);
}

.infosectie	img {
	margin-right: 15px;
    float: left;
}

.nav {
	width: 70%;
	height: 90%;
	margin: 1em auto;
	padding: 5px;
	background-color: rgba(255, 255, 255, 0.7);
	border: 1px solid;
	border-color: rgba(255,255,255,0.9);
    text-align: center;
}

.nav li {
	display: inline;
}

.nav a {
	display: inline-block;
	padding: 10px;
}

.footer {
	text-align:center;
	margin-top: 200px;
	margin-bottom: 5px;
	border-top: 5px solid black;
}
		
.footer table {
	width: 100%;
}
			   
.footer table td{
	width: 25%;
}
			   
.footer table td a {
	border-top: 3px;
	color: black;
	display: block;
}
			   
.footer table td:hover {
	border-radius: 5px;
}

table, th, td {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid black;
	width: 50%;
	border-collapse: collapse;
}
